.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px;
  background-color: #af7eeb;
  border: 1px solid #af7eeb;
}

.cell {
  background-color: aliceblue;
  padding: 10%;
  font-size: 80%;
  overflow: hidden;
  height: 15vh;
}

.cellCurrentDay {
  border: #af7eeb double;
  background-color: rgb(227, 237, 246);
}

.cellNotCurrentMonth {
  background-color: rgb(255, 255, 255);
  color: #47454588;
}

.cellHeader {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventsList {
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.event {
  margin-bottom: 10px;
  background-color: #af7eeb13;
  border-bottom: 1px solid#af7eeb;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .cell {
    font-size: 70%;
    height: 13vh;
  }
}

@media (max-width: 810px) {
  .cell {
    font-size: 60%;
    height: 11vh;
  }
}

@media (max-width: 600px) {
  .cell {
    font-size: 50%;
    height: 8vh;
  }
}

@media (max-width: 480px) {
  .cell {
    height: 6vh;
  }
}
