.header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: bolder;
  color: #6a5a7a;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.changer {
  cursor: pointer;
}

.month {
  width: 80%;
  text-align: center;
}

.button {
  background-color: #af7eeb;
  padding: 2% 4%;
  border-radius: 15%;
  border: none;
  margin: 2%;
  color: white;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.datePicker {
  display: flex;
  width: 20%;
}

.button:hover {
  filter: drop-shadow(0 0 2px rgb(110, 109, 109));
  background-color: #9152df;
}

.addEvent {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
