.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.699);
  animation-duration: 300ms;
}

.timing {
  font-size: 12px;
  color: #bdbdbd;
}

.modalWindow {
  width: 30vw;
  height: 80vh;
  border-radius: 6%;
  background-color: #e3e9ff;
  border: 1px solid #9152df;
  filter: drop-shadow(0 0 10px #9152df);
  padding: 4%;
}

.addEventTitle {
  font-size: 35px;
}

.addEventHeader {
  font-weight: 500;
  color: #331854;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addEventClose {
  font-size: 30px;
  cursor: pointer;
}

.addEventCreate {
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  color: rgb(158, 159, 159);
  justify-content: space-around;
}

.input {
  margin-top: 2%;
  display: block;
  font-family: inherit;
  font-size: 17px;
  width: 60%;
  height: 40px;
  color: #331854;
  background-color: #e3e9ff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.input::placeholder {
  color: rgb(95, 98, 98);
}

.input:focus {
  border-color: #000000;
  outline: 0;
}

.inputDesc {
  height: 60px;
  resize: none;
}

.button {
  background-color: #af7eeb;
  padding: 2% 4%;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.button:hover {
  filter: drop-shadow(0 0 2px rgb(110, 109, 109));
  background-color: #9152df;
}

.buttonDel {
  margin-left: 50%;
  background-color: #ff0000;
}

.buttonDel:hover {
  background-color: #bd0000;
}

@media (max-width: 1400px) {
  .modalWindow {
    height: 70vh;
    border-radius: 10%;
  }

  .buttonDel {
    margin-left: 40%;
  }
}

@media (max-width: 1280px) and (max-height: 900px) {
  .modalWindow {
    height: 80vh;
    width: 40vw;
  }

  .timing {
    font-size: 10px;
  }

  .addEventTitle {
    font-size: 26px;
  }

  .addEventCreate {
    margin: 4% 0;
  }

  .addEventClose {
    font-size: 24px;
  }
}

@media (max-width: 1164px) {
  .buttonDel {
    margin-left: 30%;
  }

  label {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .modalWindow {
    height: 60vh;
    border-radius: 0;
  }

  .timing {
    font-size: 11px;
  }

  .addEventTitle {
    font-size: 30px;
  }

  .addEventCreate {
    margin: 5% 0;
  }

  .addEventClose {
    font-size: 25px;
  }
}

@media (max-width: 922px) {
  .modalWindow {
    height: 70vh;
    width: 50vw;
  }

  .timing {
    font-size: 9px;
  }

  .addEventTitle {
    font-size: 25px;
  }

  .addEventClose {
    font-size: 20px;
  }

  .input {
    font-size: 15px;
    width: 80%;
  }

  .button {
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  .modalWindow {
    height: 70vh;
    width: 80vw;
  }

  .timing {
    font-size: 9px;
  }

  .addEventTitle {
    font-size: 23px;
  }

  .addEventClose {
    font-size: 20px;
  }

  .input {
    font-size: 12px;
    width: 80%;
  }

  .button {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .modalWindow {
    height: 80vh;
    width: 80vw;
  }

  .timing {
    font-size: 7px;
  }

  label {
    font-size: 10px;
  }

  .addEventTitle {
    font-size: 18px;
  }

  .addEventClose {
    font-size: 15px;
  }

  .input {
    font-size: 10px;
    width: 80%;
    margin: 0;
    height: 35px;
  }

  .button {
    font-size: 9px;
  }

  .addEventCreate {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: rgb(158, 159, 159);
    justify-content: space-around;
  }

  .inputDesc {
    height: 15px;
  }
}
